/* .hover-popup {
    display: block;
} */

#nav-bar {
    position: absolute;
    padding: 1em;
}

#logo-and-title-container{
    width: 15vw;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 3.5em;
    font-weight: 1000;
}
/* 
#logo-container{
    /* width: 48px;
    height: 48px;
    font-weight: 900;
} */

#logo-img{
    width: 48px;
    height: 48px;
}

#title-container{
    /* display: inline-block;
    margin-left: 1em;
    font-size: 1.5em;
    font-weight: bold;
    vertical-align: middle; */
}

#search-bar-container{
    margin-left: 0.5em;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 3.5em
}


.model-info-wrapper {
    /* display: none; */
    position: fixed;
    z-index: 1000;
    width: 10vw;
    margin-left: 1vh;
    margin-top: 5em;
    padding-left: 1.5em;
}

.hover-popup {
    /* display: none; */
    background: #C8C8C8;
    margin-left: 28px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    width: 200px;
    height: 100px;
}

a {
    color: #000000;
    text-decoration: none;
}

body {
    color: #000000;
    background-color: #FFFFFF;
}

button {
    background-color: #f5f5f5;
    border: #e9e9e9 solid 1px;
    color: #000000;
    padding: 2px 8px;
    outline: inherit;
    border-radius: 8px;
}

button:hover {
    background-color: #e9e9e9;
}

button:active {
    background-color: #a9a9a9;
}

.card-container{
    background-color: #FEFEFE;
    border: 1px solid #E5E5E5;
    border-radius: 8px;
    padding: 1em;
}

.control-panel {
    /* display: none; */
    top: 1em;
    right: 1em;
    width: 180px;
}

.model-info-wrapper {
    width: 10vw;
}


.model-info-wrapper #modelName {
    margin-bottom: 0px;
}

.model-info-wrapper #modelCompetition {
    margin-top: 0px;
}

.inlineWrapper {
    white-space: nowrap;
}

.inline {
    display: inline-block;
}

.neighborListItem:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.neighborListItem h5 {
    font-weight: 100;
    margin-bottom: 0.1em;
}

.neighborListItem .similarityChartWrapper {
    width: 80%;
}

.neighborListItem .similarityChart {
    margin-bottom: 1.5px;
    border-top: 3px solid white;
}

.neighborListItem .similarityValue {
    font-size: 0.8em;
    width: 20%
}

.fixed-position {
    position: fixed;
}

.side-bar {
    width: 20vw;
    height: 100vh;
    background-color: #2c3e50;
    padding: -10px;
}


/* ----------------------------- Dropdown Button */
.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: #f1f1f1;
}

/* The search field */
.dropdown-search-input {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
.dropdown-search-input:focus {
    outline: 3px solid #ddd;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

/* no background */
.btn-delete-interp {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    margin: 0.1ex 0.5ex 0.5ex 0.1ex;
    padding: 0 1ex;
}

/* Dialog */
dialog {
    border: 1px solid #777777;
    width: 80vw;
    height: 80vh;
}

fieldset {
    border: 1px solid #777777;
}

.dialog-sidebar{
    height: 100%;
    overflow-y: auto;
}

.dialog-container{
    height: 100%;
    overflow: auto;
}

.dialog-content{
    height: 100%;
    overflow: auto;
}

.sidebar-item-thumbnail {
    height: 120px;
}

.sidebar-item-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.sidebar-item-desc {
    height: 120px;
    padding: 8px;
}

/* Slider */
.slider-container {
    width: 100%; /* Width of the outside container */
}
  
/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 90%; /* Full-width */
    height: 1.5px; /* Specified height */
    background: #555555; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.6; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 5px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #000000; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 5px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #000000; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/* Similarity bar*/
.bar {
    fill: #444444;
}

.bar:hover {
    fill: #FFFFFF;
    stroke-width: 1;
    stroke: #444444;
}

#interpolation-dialog-sidebar-item-template {
    display: none;
}

#interpolation-visualizer-control-panel{
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: 12px;
    right: 12px;
    /* background-color: #000000; */
}

#interpolation-visualizer-control-panel > .download-svg{
    filter: invert(54%) sepia(0%) saturate(0%) hue-rotate(120deg) brightness(99%) contrast(88%);
}

#interpolation-visualizer-control-panel > .download-svg:hover{
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.line-type-label{
    font-size: 0.9em;
}

.lil-gui {
    position: fixed;
    z-index: 1000;
}

#chat-content {
    padding: 1em;
}

#chat-question {
    padding-left: 1em;
}

.chat-question-message-option {
    color: #0094C7;
}

#chat-question-input{
    width: 95%;
    height: 2em;
    margin-top: 1em;
}

.chat-content-item {
    display: none;
}